# PostgreSQL Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=finance_app_db

# AI Service Configuration
AI_API_URL=https://api.openai.com/v1
AI_API_KEY=your_openai_api_key_here

# Service Ports
ACCOUNT_SERVICE_PORT=8081
AI_SERVICE_PORT=8080
TRANSACTION_SERVICE_PORT=8082
POSTGRES_PORT=5432
GATEWAY_SERVICE_PORT=8072